tr.pift-test-info td {
  border-top: none;
}

td.nodechanges-file-status,
td.extended-file-field-table-cid {
  /* Allow clicking on comment number in Firefox */
  z-index: 1;
  position: relative;
}

table.nodechanges-file-changes {
  width: 100%;
}

.form-item-add-test-custom {
  padding-top: 1em;
}
